/**
 * League theme for reveal.js.
 *
 * This was the default theme pre-3.0.0.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/avenir-next/avenir-next.css);
/*
 * # Colors
 */
*, :after, :before, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #fff; }

.reveal {
  font-family: "Avenir Next Local", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #293339; }

::selection {
  color: #fff;
  background: #f48f00;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #f48f00;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #293339;
  font-family: "Avenir Next Local", Impact, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #3f9fc1;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8cc6da;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #2c7088; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #293339;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3f9fc1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #3f9fc1; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #3f9fc1; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #3f9fc1; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #3f9fc1; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8cc6da; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8cc6da; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8cc6da; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8cc6da; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3f9fc1;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * HEADERS
 *********************************************/
.reveal .trivago-logo--title {
  transform: scale(2.6) translateY(-1px);
  transform-origin: left; }

.reveal blockquote {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: none;
  color: rgba(41, 51, 57, 0.5);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  padding: 1em; }

.reveal section img {
  background-color: #293339;
  border-color: #293339;
  box-shadow: none;
  border-width: .1em; }

.reveal u, .reveal a {
  text-decoration: none;
  padding: .4em 0;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 100% 4%;
  background-position: center bottom 0.44em;
  background-origin: padding-box;
  text-shadow: 0.07em 0 white, -0.07em 0 white;
  -webkit-transition: opacity .15s ease;
  -moz-transition: opacity .15s ease;
  transition: opacity .15s ease; }

.reveal [data-background="#f48f00"] u, .reveal [data-background="#f48f00"] a, .reveal [data-background="#f48f00"] a:hover {
  text-shadow: 0.07em 0 #f48f00, -0.07em 0 #f48f00; }

.reveal a:hover {
  color: #3f9fc1;
  opacity: .6;
  text-shadow: .05em 0 white, -.05em 0 white; }

.reveal pre {
  box-shadow: none; }

.reveal mark {
  background-color: dimgrey;
  padding: 2px;
  border-radius: 4px; }

.block {
  display: block !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.border-color--blue {
  border-color: #007fad !important; }

.border-color--orange {
  border-color: #f48f00 !important; }

.border-color--red {
  border-color: #c94a30 !important; }

.border-color--juri-blue {
  border-color: #37454d !important; }

.border-color--green {
  border-color: #428500 !important; }

.color--blue {
  color: #007fad !important; }

.color--orange {
  color: #f48f00 !important; }

.color--red {
  color: #c94a30 !important; }

.color--juri-blue {
  color: #37454d !important; }

.color--green {
  color: #428500 !important; }

.color--white {
  color: #fff !important; }

.bg-color--blue {
  background-color: #007fad !important; }
  .bg-color--blue h2 {
    color: #fff; }

.bg-color--orange {
  background-color: #f48f00 !important; }
  .bg-color--orange h2 {
    color: #fff; }

.bg-color--red {
  background-color: #c94a30 !important; }
  .bg-color--red h2 {
    color: #fff; }

.bg-color--juri-blue {
  background-color: #37454d !important; }
  .bg-color--juri-blue h2 {
    color: #fff; }

.bg-color--green {
  background-color: #428500 !important; }
  .bg-color--green h2 {
    color: #fff; }
