@font-face {
    font-family: 'Avenir Next Local';
    src: url('AvenirNextLTPro-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Local';
    src: url('AvenirNextLTPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

