/**
 * League theme for reveal.js.
 *
 * This was the default theme pre-3.0.0.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/avenir-next/avenir-next.css);

// Override theme settings (see ../template/settings.scss)

// $headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
// $heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

$mainFont: 'Avenir Next Local', sans-serif;
$headingFont: 'Avenir Next Local', Impact, sans-serif;

// Colors used in the theme
/*
 * # Colors
 */
$white: #fff;
$black: #000;
$transparent: transparent;

// blue
$trv-maincolor-01: #007fad;
$trv-maincolor-01-lightest: #e5f2f6;
$trv-maincolor-01-very-light: #bfdfea;
$trv-maincolor-01-lighter: #7fbfd6;
$trv-maincolor-01-light: #3f9fc1;
$trv-maincolor-01-dark: #005f81;

/// orange
$trv-maincolor-02: #f48f00;
$trv-maincolor-02-lightest: #fdf3e5;
$trv-maincolor-02-very-light: #fce3bf;
$trv-maincolor-02-lighter: #f9c77f;
$trv-maincolor-02-light: #f6ab3f;
$trv-maincolor-02-dark: #b76b00;

/// red
$trv-maincolor-03: #c94a30;
$trv-maincolor-03-lightest: #f9ecea;
$trv-maincolor-03-very-light: #f1d1cb;
$trv-maincolor-03-lighter: #e4a497;
$trv-maincolor-03-light: #d67763;
$trv-maincolor-03-dark: #963724;

/// juri-blue
$trv-maincolor-04: #37454d;
$trv-maincolor-04-lightest: #ebeced;
$trv-maincolor-04-very-light: #cdd0d2;
$trv-maincolor-04-lighter: #9ba2a6;
$trv-maincolor-04-light: #697379;
$trv-maincolor-04-dark: #293339;

/// green
$trv-maincolor-05: #428500;
$trv-maincolor-05-lightest: #ecf3e6;
$trv-maincolor-05-very-light: #cfe0bf;
$trv-maincolor-05-lighter: #a0c280;
$trv-maincolor-05-light: #71a340;
$trv-maincolor-05-dark: #316300;

// rating colors
$rating-color-01: #a3171a !default;
$rating-color-02: #e57a00 !default;
$rating-color-03: #98bf6a !default;
$rating-color-04: #72ac2f !default;
$rating-color-05: #007400 !default;

/// text-color
$text: $trv-maincolor-04;
/// text-color light
$text-light: #c9c7c7 !default;
/// text-color medium
$text-medium: #757575 !default;
/// background-color
$background: #f3f3f3 !default;
/// background-color medium
$background-medium: #e1e1e1 !default;
/// background-color light
$background-light: #fbfbfb !default;

/// background-color disabled
$background-disabled: #eee !default;


$backgroundColor: $white;
// Background generator
@mixin bodyBackground() {
    // @include radial-gradient( $trv-maincolor-04-very-light, rgba(255, 255, 255, 1) );
}

$mainColor: $trv-maincolor-04-dark;
$headingColor: $mainColor;

$headingTextTransform: none;
$headingFontWeight: bold;

$linkColor: $trv-maincolor-01-light;
$linkColorHover: lighten( $linkColor, 20%);

$selectionBackgroundColor: $trv-maincolor-02;

*, :after, :before, html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*********************************************
 * HEADERS
 *********************************************/
.reveal {
    .trivago-logo--title {
        transform: scale(2.6) translateY(-1px);
        transform-origin: left;
    }
    blockquote {
        background-color: rgba(255,255,255,.7);
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
        box-shadow: none;
        color: rgba(41, 51, 57, 0.5);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1em;
        padding: 1em;
    }
    section {
        img {
            background-color: $trv-maincolor-04-dark;
            border-color: $trv-maincolor-04-dark;
            box-shadow: none;
            border-width: .1em;
        }
    }
    u, a {
        text-decoration: none;
        padding: .4em 0;
        background-image: linear-gradient(currentColor, currentColor);
        background-repeat: no-repeat;
        background-size: 100% 4%;
        background-position: center bottom 0.44em;
        background-origin: padding-box;
        text-shadow: 0.07em 0 white, -0.07em 0 white;
        -webkit-transition: opacity .15s ease;
        -moz-transition: opacity .15s ease;
        transition: opacity .15s ease;
    }
    [data-background="#{$trv-maincolor-02}"] {
        u, a, a:hover {
            text-shadow: 0.07em 0 $trv-maincolor-02, -0.07em 0 $trv-maincolor-02;
        }
    }
    a:hover {
        color: $linkColor;
        opacity: .6;
        text-shadow: .05em 0 white, -.05em 0 white;;
    }
    pre {
        box-shadow: none;
    }
    mark {
        background-color: dimgrey;
        padding: 2px;
        border-radius: 4px;
    }
}

// Helper classes     

.block {
    display: block !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.border-color{
    &--blue {
        border-color: $trv-maincolor-01 !important;
    }
    &--orange {
        border-color: $trv-maincolor-02 !important;
    }
    &--red {
        border-color: $trv-maincolor-03 !important;
    }
    &--juri-blue {
        border-color: $trv-maincolor-04 !important;
    }
    &--green {
        border-color: $trv-maincolor-05 !important;
    }
}

.color{
    &--blue {
        color: $trv-maincolor-01 !important;
    }
    &--orange {
        color: $trv-maincolor-02 !important;
    }
    &--red {
        color: $trv-maincolor-03 !important;
    }
    &--juri-blue {
        color: $trv-maincolor-04 !important;
    }
    &--green {
        color: $trv-maincolor-05 !important;
    }
    &--white {
        color: $white !important;
    }
}

.bg-color{
    &--blue {
        background-color: $trv-maincolor-01 !important;
        h2 {
            color: $white;
        }
    }
    &--orange {
        background-color: $trv-maincolor-02 !important;
        h2 {
            color: $white;
        }
    }
    &--red {
        background-color: $trv-maincolor-03 !important;
        h2 {
            color: $white;
        }
    }
    &--juri-blue {
        background-color: $trv-maincolor-04 !important;
        h2 {
            color: $white;
        }
    }
    &--green {
        background-color: $trv-maincolor-05 !important;
        h2 {
            color: $white;
        }
    }
}